// MAIN NAV + FILTERS
//-------------------------------------------------------------------------------------------------------------------    
ul.content-tabs
  zoom: 1
  width: 100%
  border-bottom: 1px solid #e5e5e5
  &:before, &:after
    display: table
    content: ""
  &:after
    clear: both
  li
    display: inline
    a
      float: left
      width: auto
      padding: 0 15px 0 36px
      display: block
      line-height: 35px
      text-transform: uppercase
      color: #000
      border-right: 1px solid #e5e5e5
      font-size: $s
      background-position: 7px 50%
      background-repeat: no-repeat
      &:hover
        background-color: $lightOrange

    &.questions a
      background-image: url("/images/q-icon-medium.gif")
    &.answers a
      background-image: url("/images/ans-icon-medium.gif")
    &.unanswered a
      background-image: url("/images/noans-icon-medium.gif")
    &.activities a
      background-image: url("/images/activity-iacon.gif")


// FILTERS
//-------------------------------------------------------------------------------------------------------------------  
.filters
  zoom: 1
  width: 100%
  border-bottom: 1px solid #e5e5e5
  ul
    header
      float: left
      display: inline
      font-size: 13px
      line-height: 30px
      font-weight: bold
      margin: 0 10px
    li
      display: inline
      a
        float: left
        display: block
        padding: 0 12px 0 12px
        font-size: 13px
        line-height: 30px
        color: #000

// Admin nav
//-------------------------------------------------------------------------------------------------------------------          
.admin-nav 
  border: 1px solid #e5e5e5
  background-color: #f9f9f9
  overflow: hidden
  margin: 0 0 30px 0
  +normal-radius
  li
    float:left
    display: inline
    margin: 0 0 -1px 0
    a
      padding: 10px 15px
      border-right: 1px solid #f1f1f1
      color: #999
      display: block
      float: left
      font-size: 11px
      text-transform: uppercase
      &:hover
        color: #000
        background-color: #e5e5e5

.invite .admin-nav .invite a,
.invitations .admin-nav .invitations a
  background-color: $lightOrange
  color: #000        