-if @activities.empty?
  = render "shared/empty", :type => "activities", :url => ""
-else
  - @resources.each do |activity|
    = render "activities/activity", :activity => activity

#additional_info
  = will_paginate @resources

  .clear
