%header
  =# number_with_delimiter(@answers.total_entries)
  =t(:answers, :scope => "activerecord.models")
  = "- Sort By:" #i18n
%li.newest
  = link_to t("questions.index.newest"), answers_user_path(@user, params.merge(:sort=>"newest")), :rel => "nofollow"
%li.hot
  = link_to t("questions.index.oldest"), answers_user_path(@user, params.merge(:sort=>"oldest")), :rel => "nofollow"
%li.votes
  = link_to t("questions.index.votes"), answers_user_path(@user, params.merge(:sort=>"votes")), :rel => "nofollow"
