%li.questions
  = link_to "Questions", follows_user_path(@user, params.merge(:sort=>"questions")), :rel => "nofollow"
%li.following
  = link_to "Following", follows_user_path(@user, params.merge(:sort=>"following")), :rel => "nofollow"
%li.followers
  = link_to "Followers", follows_user_path(@user, params.merge(:sort=>"followers")), :rel => "nofollow"
