*~
.DS_Store
*.bak
*.orig
coverage
public/stylesheets/compiled/
config/shapado.yml
data/*.dat
config/mongoid.yml
config/database.yml
base_packaged.*
.directory
.bundle
log/*.log
tmp/**/*
vendor/cache/*.gem
public/javascripts/login_packaged.js
public/javascripts/show_packaged.js
public/javascripts/jsMath/fonts/
.sass-cache
*.kdev4
.redcar
