*~
.DS_Store
*.swp
*.bak
*.orig
coverage
public/stylesheets/compiled/
config/shapado.yml
config/payments.yml
data/*.dat
config/mongoid.yml
config/database.yml
config/auth_providers.yml
base_packaged.*
.directory
.bundle
log/*.log
tmp/**/*
vendor/cache/*.gem
public/javascripts/login_packaged.js
public/javascripts/show_packaged.js
public/javascripts/jsMath/fonts/
public/javascripts/packaged/
public/stylesheets/packaged/
public/packages/
.sass-cache
*.kdev4
.redcar
.idea
tunnlr.yml
