
-content_for :subtabs do
  .navtitle
    = t(".title")

%h2.title
  =link_to h(@question.title), question_path(@question)

%table.table
  %tr
    %th
      user
    %th
      comment

  -@open_requests.each do |request|
    %tr
      %td= pjax_link_to request.user.login, "user", {'controller' => "/users", 'action' => 'show', 'id' => (request.user.login||request.user.id)}, {:title => request.user.login}
      %td= h(request.comment)
