=form_for @invoice do |f|
  =error_messages_for @invoice.credit_card||@cc
  =error_messages_for @invoice

  -@credit_card = (@invoice.credit_card||current_group.credit_card||@cc||CreditCard.new)
  -if @credit_card.remember
      Using credit card ending in
      = @credit_card.ending_in
      = link_to "change", "#", :id => "show_credit_card_info"

  %span.credit_card_form{:style => "display: #{@credit_card.remember ? 'none' : 'inline'}"}
    =fields_for "credit_card", @credit_card do |ff|
      First Name
      =ff.text_field :first_name

      Last Name
      =ff.text_field :last_name

      Email
      =ff.text_field :email

      Credit Card Number
      =ff.text_field :number

      Verification Code
      =ff.text_field :verification_code

      Expiration Date
      =ff.select :year, (Time.now.year..Time.now.year+15).to_a
      =ff.select :month, I18n.t("date.month_names").map{|e| [e, index+=1]}

      Billing Address
      =ff.text_field :address1

      Billing Address line 2(optional)
      =ff.text_field :address2

      Country
      =ff.text_field :country

      Please remember this card later
      =ff.check_box :remember

  =render "invoices/invoice", :invoice => @invoice


  TOTAL
  =@invoice.total / 100.0


=f.submit "Sign Up"
