= t("notifier.global.hi", :user => ''),

= t("notifier.new_invitation.message1", :user => h(@user.login), :group => @group.name)

= t("notifier.new_invitation.message2", :link => url_for(:host => @group.domain, :controller => "invitations", :action => "accept", :id => @invitation.id))

= t("notifier.new_invitation.message3", :group => @group.name)

