.badge_item{:class => badge.type}
  = pjax_link_to badge.name, "badges", {'controller' => 'badges', 'action'=>'show','id'=>badge.to_param}, {:class => "badge", :title => badge.description}
  -if !local_assigns[:hide_user] && !local_assigns[:mini]
    %span.user
      = pjax_link_to truncate(badge.user.login, :length => 20), "user", {'controller' => "users", 'action' => 'show', 'id' => (badge.user.login||badge.user_id)}, {:title => badge.user.login}
