.badge_item{:class => badge.type}
  %a.badge{:title => badge.description}
    =h badge.name

  -if !local_assigns[:hide_user] && !local_assigns[:mini]
    %span.user
      =link_to h(truncate(badge.user.login, :length => 20)), user_path(badge.user), :title => h(badge.user.login)
