.badges
  %h1
    = t(".description")
  .container
    %ul
      - @badges.each do |badge|
        %li
          .badge_item
            = render :partial => "badges/badge", :object => badge, :locals => {:hide_user => true}
            .counter
              == × #{badge["count"]}
          .badge_description
            =badge.description
          .clear

