%li
  = link_to "Moderate", moderate_path
  %ul
    %li
      = link_to "Questions", moderate_questions_path
    %li
      = link_to "Answers", moderate_answers_path
    %li
      = link_to "Users", moderate_users_path

