-activities = current_user.activities
%ul.notifications-list.menubar
  %li
    %a{:href => "#"}
      =activities.count
    %ul
      %li.notification
        %h3 Notifications
      -activities.each do |activity|
        = render "notifications/notification_item", :activity => activity
