-form_for(@group, :html => {:class => "form", :multipart => true}) do |f|
  %h1 Group Properties
  .errorExplanation
    %h2
      You need to check the next fields
    %ul
      = f.error_messages
  =hidden_field_tag :source, domain_url(:custom => @group.domain, :controller => "admin/manage", :action => "properties", :tab => @active_subtab)
  =render :partial => "admin/manage/properties/general", :locals => {:f => f}


= yield :after_form
