%li.group
  %small
    Active group:
  = link_to "West Coast Group"
  %ul
    %li
      = link_to "East coast Group of financial money bookers"
    %li
      = link_to "South Group"
    %li
      = link_to "North Group"
