%li.group
  %small
    // TODO I18n
    Active site:
  = link_to current_group.name
  -if logged_in?
    %ul
      -current_user.groups.only(:name).limit(10).all.each do |group|
        %li
          = link_to group.name, group_path(group)
  -else
    %ul
      -Group.where(:state => "active", :private => false).order_by([:activity_rate, :desc]).limit(10).all.each do |group|
        %li
          = link_to group.name, group_path(group)
