// Main Question
//-------------------------------------------------------------------------------------------------------------------
.main-question
  h1
    font-size: 25px
    margin: 0 15px 5px 15px
    &:first-letter
      text-transform: uppercase
  .author
    padding: 15px 15px 5px 15px
    font-style: italic
    a
      color: $orange
  .stats
    margin: 0 15px 10px 15px
    a
      font-weight: bold
      color: $orange
  #panel-forms
    clear: both
    form
      width: 515px !important
      padding: 15px
      display: none
      margin: 0
      background-color: $lightOrange

// Main Question - Answers
//-------------------------------------------------------------------------------------------------------------------
#answers-content-wrap
  clear: both
  h2
    border-top: 1px solid #e5e5e5
    padding: 10px 15px 10px 15px
        
  .filters
    border-top: 1px dotted #e5e5e5
    padding-left: 5px
    width: 540px
  h2, .filters
    background-color: $lightOrange
  
  .answers-list
    clear: both
    .empty
      display: block
      clear: both
      padding: 20px 30px
      overflow: hidden
      img
        float: left
        margin: 0 10px 0 0
      h2
        background: none
        border: 0px
        padding: 0
        
        
    article.solution
      background: url("/images/answer-winner.png") 490px 20px no-repeat
      border-left: 5px solid #a2c538
    .answer_vote_box
      float: left
      margin: 0 10px 0 0
  
      .votes_average
        padding: 5px 0
        text-align: center
      .vote_box button
        height: 25px
        width: 24px
        border: 0px
        +small-radius
        &.negative
          background: #fafafa url("/images/question-toolbar-icons-small.png")  5px -402px no-repeat
          &:hover
            background-color: #c00
            background-position: 5px -417px
        &.positive
          background: #fafafa url("/images/question-toolbar-icons-small.png")  5px -449px no-repeat
          &:hover
            background-color: #a2c538
            background-position: 5px -434px
            
    .answer
      .author 
        margin: 0 0 5px 0
        *
          font-size: 11px
          color: #666
          font-weight: normal
          font-style: italic
        .user-data a
          font-size: 12px
          font-weight: bold
          font-style: normal
          color: $orange
        img
          border: 1px solid #e5e5e5 
          float: left
          margin: 0 10px 0 0

// Main Question - Answers messages
//-------------------------------------------------------------------------------------------------------------------
.followUp-content 
  display: block
  clear: both
  padding: 20px 30px
  overflow: hidden
  border-bottom: 1px solid #e5e5e5

#close_reason 
  padding: 10px
  clear: both
  float: none
  display: block
  color: #fff
  text-align: center
  background-color: #c00    
  font-size: 14px

// Main Question - Action Panels 
//-------------------------------------------------------------------------------------------------------------------
#panel-forms
  height: 100%
  clear: both
  padding: 0

  form
    display: none
    margin: 0 auto
    padding: 20px
    width: 90%
    overflow: hidden
      
.share_question
  h1
    font-size: 14px
    margin: 0 0 5px 0
    padding: 0
    border: none
  ul
    overflow: hidden
    width: 345px
    margin: 0 auto

    li
      width: 24px
      height: 24px
      display: inline
      a
        text-indent: -9999px
        display: block
        overflow: hidden
        width: 24px
        height: 24px        
        padding: 0 !important
        margin: 0 5px 0 0
        border: none
        float: left
        &:hover
          background-color: transparent !important

    li.facebook a
      background: url("/images/share/facebook.png") 0 0 no-repeat
    li.twitter a
      background: url("/images/share/twitter.png") 0 0 no-repeat
    li.identica a
      background: url("/images/share/identi.png") 0 0 no-repeat
    li.digg a
      background: url("/images/share/digg.png") 0 0 no-repeat
    li.blogger a
      background: url("/images/share/blogger.png") 0 0 no-repeat
    li.delicious a
      background: url("/images/share/delicious.png") 0 0 no-repeat
    li.linkedin a
      background: url("/images/share/linkedin.png") 0 0 no-repeat
    li.misterwong a
      background: url("/images/share/mister-wong.png") 0 0 no-repeat
    li.stumbleupon a
      background: url("/images/share/stumbleupon.png") 0 0 no-repeat
    li.googlebuzz a
      background: url("/images/share/google-buzz.png") 0 0 no-repeat
    li.friendster a
      background: url("/images/share/frinedster.png") 0 0 no-repeat