#mainTabs
  %ul
    %li.active
      =link_to "PREGUNTAR", "#tab1"
    %li
      =link_to "RESPONDER", "#tab2"
    %li  
      =link_to "BUSCAR", "#tab3"
          
  %section#tab1
    =image_tag("pregunta-icon-big.png")
    =render :partial => "welcome/quick_question_box"
  .clear            
//= render :partial => "searches/search_box"  