#mainTabs
  %ul
    %li.active
      =link_to "PREGUNTAR", new_question_path
    %li
      =link_to "RESPONDER", random_questions_path
    %li
      =link_to "BUSCAR", search_index_path

  %section#questions
    =image_tag("pregunta-icon-big.png")
    =render "shared/quick_question_box"
  .clear
