#mainTabs
  %ul
    %li.active
      =link_to "PREGUNTAR", "#questions"
    %li
      =link_to "RESPONDER", "#answers"
    %li
      =link_to "BUSCAR", "#search"

  %section#questions
    =image_tag("pregunta-icon-big.png")
    =render :partial => "shared/quick_question_box"
  .clear
