%nav
  %ul.content-tabs
    %li.questions
      =link_to t("layouts.application.questions"), url_for(questions_link)
    %li.answers
      =link_to "Answers", url_for(questions_link.merge(:answers => 1))
    %li.unanswered
      =link_to t("layouts.application.unanswered"), url_for(questions_link.merge(:unanswered => 1))
    %li.activity
      =link_to "Activity", activities_path(:context => (params[:context]||params[:action]))

  %section.filters{:class => @active_subtab }
    %ul
      %header Sort By:
      %li.newest
        = link_to t("questions.index.newest"), url_for(params.merge(questions_link).merge(:sort=>"newest")), :title => t("questions.index.newest_tooltip")
      %li.hot
        = link_to t("questions.index.hot"), url_for(params.merge(questions_link).merge(:sort=>"hot")), :title => t("questions.index.hot_tooltip"), :rel => "nofollow"
      %li.votes
        = link_to t("questions.index.votes"), url_for(params.merge(questions_link).merge(:sort=>"votes")), :title =>  t("questions.index.votes_tooltip"), :rel => "nofollow"
