%li
  %label
    Language:
%li
  -if logged_in?
    = link_to language_desc(current_user.language_filter), "#"
  -else
    = link_to language_desc(logged_out_language_filter), "#"
  %ul.drop-menu
    -langs_options = languages_options(current_group.languages)
    -langs_options.unshift([t('shared.any_lang'), "any"])
    -langs_options.each do |k,v|
      %li
        = link_to k, "#"
