%ul.user-list.menubar.offline
  - unless current_group.is_email_only_signup?
    %li
      %a
        = t('devise.sessions.link')
      = render "shared/login_drop_down"
  - else
    %li
      = link_to t('devise.sessions.link'), new_user_session_path
