%ul
  %li.retag
    =link_to t( ".questions", :default => :"layouts.application.questions"), moderate_questions_path
  %li.flags
    =link_to t(".answers", :default => :"activerecord.models.answers"), moderate_answers_path
  %li.close
    =link_to t(".users", :default => :"layouts.application.users"), moderate_users_path
