- if logged_in?
  - unless no_title
    %h3
      =t("widgets.suggestions.title", :group => current_group.name)
  .content
    %ul.list
      -current_user.suggestions(current_group, limit).each do |suggestion|
        %li
          .gravatar
            = suggestion_avatar(suggestion)
          .item
            = suggestion_link(suggestion)
          .item
            = follow_suggestion_link(suggestion)
        %li
          = common_follower(current_user, suggestion)
