%div.list_cloud
  -tags.each do |tag|
    -unless current_tags.include? tag["name"]
      -url = tag_url(:id => (current_tags + [tag["name"]]).join("+"))
      %span
        =link_to tag["name"], url, :class => tag_class, :rel => "tag",:title => t("questions.tags.tooltip")
        %span.count
          = tag["count"].to_i
.clear
