.user-zone.module

  .avatar
    -if logged_in?
      = gravatar(current_user.email.to_s, :size => 25)
    -else
      = link_to image_tag("avatar-25.png")

  .greeting
    %small Bienvenido
    -if logged_in?
      %b=current_user.login
  .clear

  %nav
    %ul
      %li.active
        =link_to "Mi perfil"
      %li
        =link_to "Mi Karma: 200"
      %li
        =link_to "Mis preguntas: [ 20 ]"
      %li
        =link_to "Mis respuestas: [ 5 ]"
      %li
        =link_to "Mis Badges"
      -if logged_in?
        %li
          =link_to "My feed", feed_user_path(current_user)
        %li
          =link_to "By Me", by_me_user_path(current_user)
        %li
          =link_to "Preferred", preferred_user_path(current_user)
        %li
          =link_to "Collaborate!", expertise_user_path(current_user)
      %li.log-out
        =link_to "Salir"