-cache_for(:widgets, context, position) do
  %div{:class => "#{position}-widgets"}
    -widget_list = current_group.send(:"#{context}_widgets")
    -if widget_list
      - widget_list.send(position).each do |widget|
        = render :partial => widget.partial_name, :locals => {:widget => widget}

