-cache_for(:widgets, context, position) do
  -widget_list = current_group.send(:"#{context}_widgets")
  - if widget_list
    - widgets = widget_list.send(position)
  -if !widgets.empty?
    %div{:class => "#{position}-widgets"}
      - widgets.each do |widget|
        = render :partial => widget.partial_name, :locals => {:widget => widget}

