-current_group.send(:"#{context}_widgets").each do |widget|
  - unless (widget.question_only? && !@question)
    .widget.block{:id => widget.name}
      -$stderr.puts ">>>>>>>>>>>> #{widget.class} #{widget.partial_name}"
      = render :partial => widget.partial_name, :locals => {:widget => widget}
