@import "setup"

@import "helper/items/menubar"
@import "helper/items/widgets"
@import "helper/items/tags"

.toolbar
  display: block
  ul
    zoom: 1
    width: 100%
    &:before, &:after
      display: table
      content: ""
    &:after
      clear: both
    li
      display: inline
      line-height: 24px
      a
        float: left
        padding: 0 5px
        display: block
        line-height: 24px
        +small-radius

.pagination
  text-align: center
  overflow: hidden
  padding: 20px
  span a
    padding: 7px 10px 7px 10px
    +small-radius
  span.current
    padding: 7px 7px 7px 10px
    margin: 0 3px
    +small-radius
