@import "setup"

@import "helper/items/menubar"
@import "helper/items/widgets"
@import "helper/items/tags"
@import "helper/items/editors"
@import "helper/items/comments"

.editor
  textarea
    width: 100%

.toolbar
  display: block
  ul
    zoom: 1
    width: 100%
    &:before, &:after
      display: table
      content: ""
    &:after
      clear: both
    li
      display: inline
      line-height: 24px
      a.action
        float: left
        padding: 0 5px
        display: block
        line-height: 24px
        +small-radius

.pagination
  text-align: center
  overflow: hidden
  padding: 20px
  span a
    padding: 7px 10px 7px 10px
    +small-radius
  span.current
    padding: 7px 7px 7px 10px
    margin: 0 3px
    +small-radius

.badges
  ul li
    margin-bottom: 5px
    overflow: hidden

    .badge_item
      width: 40%
      float: left

    .badge_description
      width: 55%
      float: left
      margin: 5px

    .badge
      width: 65%
      float: left
      padding: 5px 10px
      display: block
      +big-radius

    .counter
      float: left
      width: 15%
      font-size: 12px
      margin: 5px
      font-style: italic

.vote_box
  button
    height: 25px
    width: 24px
    border: 0px
    +small-radius
    &.negative
      background-image: image-url("question-toolbar-icons-small.png")
      background-position:  5px -402px
      background-repeat: no-repeat
      &:hover, &.checked
        background-position: 5px -417px
    &.positive
      background-image: image-url("question-toolbar-icons-small.png")
      background-position: 5px -449px
      background-repeat: no-repeat
      &:hover, &.checked
        background-position: 5px -434px
  .votes_average
    padding: 5px 0
    text-align: center
    width: 24px
    margin: 0px auto


.top
  overflow: hidden
  padding: 0px 10px
  h1
    display: inline
    float: left
  .filter
    margin-top: 15px
    form
      float: left
      margin-left: 10px
      .field
        width: 100%
        margin: 0
        label
          font-weight: normal
          margin: 0 0 5px 0
        input
          float: left
          width: 300px
          margin: 0 10px 0 0
        .filter_input
          display: block !important
          width: auto
          float: left
          border: 0px
