@import "setup"

@import "helper/items/menubar"

.pagination
  text-align: center
  overflow: hidden
  padding: 20px
  span a
    padding: 7px 10px 7px 10px
    +small-radius
  span.current
    padding: 7px 7px 7px 10px
    margin: 0 3px
    +small-radius
