
#container
  width: 960px
  margin: 40px auto 0px auto
  text-align: left
  header
    width: 650px
    display: inline
    float: left

  #columns
    margin-top: 10px
    overflow: hidden
    #column2
      width: 650px
      display: inline
      float: left

    #column3
      padding 0px 5px
      float: right
      width: 300px
      display: inline

.manage-layout
  #container #columns
    margin-top: 10px
    overflow: hidden
    #column1
      width: 215px
      float: left
    #column2
      width: 735px
      float: right

.doc-layout
  .top-page
    margin: 30px 50px 0 50px
