
#container
  width: 960px
  margin: 40px auto 0px auto
  text-align: left
  header
    width: 650px
    display: inline
    float: left

  #columns
    margin-top: 10px
    overflow: hidden
    #column2
      width: 650px
      display: inline
      float: left

    #column3
      padding 0px 5px
      float: right
      width: 300px
      display: inline
