%section.content-panel#column2
  -announcements = current_announcements(session[:announcement_hide_time])
  -unless announcements.empty?
    .announcement
      %p
        -announcements.each do |announcement|
          =markdown(announcement.message)
      =link_to "Close", hide_announcements_path, :id => "hide_announcement"

  - unless params[:controller] =~ /moderate\//
    //= render "shared/action-tabs"
    =render "shared/quick_question_box"
  = render "shared/widgets", :context => 'mainlist', :position => 'header'

  #main-content-wrap{:class => @active_tab}
    - if params[:controller] =~ /moderate\//
      = render "shared/moderate_navigation"

    = yield
    .clear