-title = answer.question.title

%article.answer
  %h2
    = link_to truncate(answer.body, :length => 200), question_path(answer.question), :title => title
  %p
    Esta es deberia ser la pregunta a la cual la respuesta pertenece  
    
  =format_number(answer.votes_average)
  =t(:votes, :scope => "activerecord.attributes.question")
  .clear