
%aside
  %ul
    - @question.contributors.each do |user|
      %li
        .avatar
          = avatar_img(user, :size => "small")
        .data
          %h5
            %b
              =link_to h(user.login), user_path(user), :class => "pjax", :"data-layout" => "user"
            %small
              ==#{user.reputation_on(current_group)}
