.module
  %h3
    =t(".title")

  -widget.recent_pages(current_group).each do |page|
    %section
      =link_to h(page.title), page_path(page)
  %footer
    -if logged_in? && current_user.mod_of?(current_group)
      =link_to t(".new"), new_page_path
      %br
      =link_to t("scaffold.more"), pages_path
  .clear