
.widget-tags.module
  %header
    = t('.tags', :default => [:"layout.application.tags", :"activerecord.attributes.user.tags", "tags"])
  = render :partial => "shared/tag_list", :locals => {:tag_list => @tag_cloud, :extra_params => {:controller => "questions", :action => "index"} }
.clear
