- if @question.badges.size > 0
  %aside
    %ul.list
      -@question.badges.each do |badge|
        %li
          = render :partial => "badges/badge", :object => badge, :locals => {:hide_user => false}