- if @tag_cloud
  .block
    %h3
      = t('.tags', :default => [:"layout.application.tags", :"activerecord.attributes.user.tags", "tags"])
    .content
      = render :partial => "shared/tag_list", :locals => {:tag_list => @tag_cloud}