-cache("tag_cloud_#{current_group.id}_#{Date.today.to_s}") do
  .widget-tags.module
    %section
      %hgroup
        %ul
          %li.active
            =link_to "Size"
          %li
            =link_to "Alphabetically"
      .tag_cloud
        = tag_cloud([], {}, widget[:settings][:limit])
    .clear
