.module
  %h3
    =t(".title")
  -widget.top_users(current_group).each do |user|
    %section
      =gravatar(user.email.to_s, :size => 22)
      %p
        %b
          =link_to h(user.login), user_path(user)
        %i
          ==(#{user.reputation_on(current_group)})
  %footer
    =link_to t("scaffold.more"), users_path
  .clear

