// FOOTER
//-------------------------------------------------------------------------------------------------------------------
footer
  clear: both
  float: none
  display: block
  padding: 20px
  text-align: center
  ul
    width: 555px
    margin: 0 auto
    li:first-child
      a
        margin: 0 20px 0 0
    li:last-child
      border: none
      a
        margin-right: 0
    li
      float: left
      display: inline

      margin: 0 0 10px 0
      a
        margin: 0 10px
        font-size: 12px
      a:hover
        border-bottom: 1px dotted
  p
    clear: both
    float: none
    margin: 0 0 3px 0
    font-size: 12px
    a:hover
      border-bottom: 1px dotted

