// General container
//-------------------------------------------------------------------------------------------------------------------
#columns
  width: 1000px
  margin: 10px auto 0 auto
  zoom: 1
  section
    zoom: 1
    &:before, &:after
      display: table
      content: ""
    &:after
      clear: both

// App Messages
//-------------------------------------------------------------------------------------------------------------------
.notice
  border: 0
  text-align: center
  font-size: 18px
  line-height: 30px
  color: #fff
  font-weight: bold
  text-shadow: 0 1px 1px black  
.error
  background-color: #c00
  background-repeat: repeat-x
  background-image: -khtml-gradient(linear, left top, left bottom, from(#c00), to(#a00))
  background-image: -moz-linear-gradient(#c00, #a00)
  background-image: -ms-linear-gradient(#c00, #a00)
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c00), color-stop(100%, #a00))
  background-image: -webkit-linear-gradient(#c00, #a00)
  background-image: -o-linear-gradient(#c00, #a00)
  background-image: linear-gradient(#c00, #a00)  
.message
  background-color: #0c0
  background-repeat: repeat-x
  background-image: -khtml-gradient(linear, left top, left bottom, from(#0c0), to(#0a0))
  background-image: -moz-linear-gradient(#0c0, #0a0)
  background-image: -ms-linear-gradient(#0c0, #0a0)
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c00), color-stop(100%, #0a0))
  background-image: -webkit-linear-gradient(#0c0, #0a0)
  background-image: -o-linear-gradient(#0c0, #0a0)
  background-image: linear-gradient(#0c0, #0a0)  

// App Pagination
//-------------------------------------------------------------------------------------------------------------------
.pagination
  text-align: center
  overflow: hidden
  padding: 20px
  span a
    background-color: #f1f1f1
    padding: 7px 10px 7px 10px
    +small-radius
    &:hover
      background-color: #ee681f
      color: #fff
  span.current
    background-color: #ee681f
    color: #fff
    padding: 7px 7px 7px 10px
    margin: 0 3px
    +small-radius