-feed_url = url_for(:format => "atom", :tags => @tag_names.join("+"))

-content_for :rss do
  %link{:rel=>"alternate", :type=>"application/atom+xml", :title => "atom", :href=> feed_url}

-content_for :sidebar do
  = render "shared/widgets", :context => 'mainlist', :position => 'sidebar'

.tags-list
  %h1
    Tags: 
    -@tags.each do |tag| 
      = render "tag", :tag => tag
      
  %section
    -if @questions.empty?
      %article.question
        %li.highlight
        = t(".empty")
    -@questions.each do |question|
      = render "questions/question", :question => question

  =will_paginate @questions