%h1 Login to (Group Name)
%p.description
  We help you discover and share opinions that is the most relevant to you and those in your group.

= multiauth_assets

-session["return_to"] = request.referrer unless request.referrer.blank?

-if current_group.registered_only
  .error
    IMPORTANT: You must be logged in to see this site

-unless current_group.is_noemail_signup?
  -form_for :user, resource, :url => session_path(resource_name), :html => {:class => "form"} do |f|
    .field
      =f.label :email, t("email", :scope => "activerecord.attributes.user")
      =f.text_field :email, :class => "text_field"
    .field
      =f.label :password, t("password", :scope => "activerecord.attributes.user")
      =f.password_field :password, :class => "password"

    -if devise_mapping.rememberable?
      .checkbox
        =f.check_box :remember_me
        =f.label :remember_me, t(".remember_me")


    .buttons
      =f.submit "Sign in", :class => "save"


  = render :partial => "shared/devise_links"
