= render "shared/content-nav", :questions_link => {"controller" => "questions", "action" => "index"}

Searching:
= @search.query

=link_to t('scaffold.destroy'), search_path(@search), :method => :delete

%section
  = render 'shared/posts'
