// ========================================================================
//    Document     :   _layout.sass
//    Created on   :   Mar 03 - 2010, 11:29 pm
//    Author       :   @dgfrancisco
//    Client       :   Shapado
//    Description  :   Layout front side
//========================================================================
@import "fancy-buttons"

#container
  width: 100%

// Diagramation
//========================================================================
section
  float: left

//LEFT
section.left-panel
  width: 12%
  display: inline
  margin-left: 45px
  text-align: right

  .module
    padding: 0 10px 10px 10px
    margin: 0 0 10px 0
    h3
      font-size: 16px
      font-weight: bold
      padding: 5px 0
      margin-bottom: 10px

//CENTER
section.content-panel
  width: 45%
  padding: 0 0.4%
  display: inline

section.invitations-panel
  margin: auto
  width: 100%

  h1
    font-size: 16px
    font-weight: bold
    margin-bottom: 10px
  .invitation-container
    padding: 10px
    margin: auto
    margin-top: 50px
    margin-bottom: 50px
    width: 500px
    +small-radius

    #invitations-points
      margin: auto
      margin-top: 10px
      margin-bottom: 10px
      width: 100%
      text-align: center
      div
        padding: 2px
        margin: auto
        width: 109px
        display: inline-block
        vertical-align: middle
        +small-radius
        img
          margin: auto

#twitter-and-facebook
  text-align: center
  .find_friends
    margin-top: 14px

a#twitter_auth
a#facebook_auth
  @include fancy-button
  +fancy-button-structure
  +fancy-button-colors-matte(#4C6EA9)
  +fancy-button-size(12px, 6px, 1px)
  white-space: nowrap

a#twitter_auth
  +fancy-button-structure
  +fancy-button-colors-matte(#A0E8EB)
  +fancy-button-size(12px, 6px, 1px)
  white-space: nowrap

a#identica_auth
  +fancy-button-structure
  +fancy-button-colors-matte(#8F0000)
  +fancy-button-size(12px, 6px, 1px)
  white-space: nowrap

a#linked_in_auth
  +fancy-button-structure
  +fancy-button-colors-matte(#378AB3)
  +fancy-button-size(12px, 6px, 1px)
  white-space: nowrap

//RIGHT
section.right-panel
  width: 25%
  display: inline
  overflow: hidden

  .module
    +small-radius
    margin-bottom: 5px
    padding-bottom: 3px
    h3
      font-size: 14px
      padding: 8px
    section, footer
      border: 0px
      padding: 0
      margin: 0
    footer
      text-align: right
      padding: 7px 10px 5px 0
      a
        font-size: 11px
        text-transform: italic

//SESIONS
section.sessions
  margin: 0 auto !important
  float: none !important
  width: 700px
  display: block !important
