// ========================================================================
//    Document   	:   _action-tabs.sass
//    Created on 	:   Nov16 - 2010, 21:06 pm
//    Author      	:   @dgfrancisco
//    Client     		:   Shapado
//    Description	:   Estilos para los tabs de contenido con sus filtros
//======================================================================== 

// MAIN CONTENT - Questions
//========================================================================      
#main-content-wrap      
  section
    width: 100%
    article
      border-bottom: 1px solid #ccc
      padding: 15px
      color: #666
      .user-data
        font-size: 12px
        margin: 0 0 10px 20px
        a:hover
          border-bottom: 1px dotted
        i
          font-size: 10px
          font-style: italic
          margin: 0 5px 0 0
      h2
        font-size: 15px
        padding-left: 20px 
        background: url("/images/q-icon-small.gif") 0 2px  no-repeat 
        margin: 0 0 5px 0
        a
          color: $dark
          font-weight: bold
          display: block
        a:hover
          color: #000
      .tags
        clear: both
        display: block
        margin: 0 0 13px 20px
        ul
          li
            float: left
            display: inline
            font-size: 11px
            a
              margin: 0 0 0 7px
            a:hover
              border-bottom: 1px dotted
      .toolbar
        clear: both
        display: block
        ul
          li.answers, li.votes, li.followers
            float: left
            margin-right: 5px
            margin-left: 0
            form
              float: left
              margin: 0 4px 0 0 
            a
              background: #fff url("/images/ans-icon-small-light.gif") 0 1px  no-repeat
              margin: 0
              padding: 0 0 0 20px
              font-size: 12px
            a:hover
              background-color: #fff
              color: #000
          li.votes
            a
              background: none
              padding: 0
          li
            float: right
            display: inline
            margin-left: 5px
            a
              +small-radius
              color: #666
              padding: 3px 7px
              font-size: 11px
              background-color: #e5e5e5
            a:hover
              background-color: #ccc
              color: #000