// ========================================================================
//    Document   	:   _question.sass
//    Created on 	:   Nov14 - 2010, 20:29 pm
//    Author      	:   @dgfrancisco
//    Client     		:   Shapado
//    Description	:   Estilos para los despliegues de las preguntas
//========================================================================
.question
  #main-content-wrap
    border: none
    background: transparent

/* Main Question */
//========================================================================
section.main-question
  +normal-radius
  border: 1px solid #e5e5e5
  background: #fff url("/images/q-icon-medium.gif") 15px 15px  no-repeat
  margin-bottom: 15px
  position: relative
  h1
    font-size: 26px
    line-height: 28px
    font-weight: bold
    margin: 10px 20px 5px 45px
  .description
    margin: 0 20px 0 45px
    p
      font-size: 12px
      line-height: 16px
      margin: 0 0 10px 0
      color: #606060
  .edit
    position: absolute
    top: 43px
    left: 14px
    a
      width: 24px
      height: 24px
      background: url("/images/edit-icon-big.png") 0 0  no-repeat
      display: block
      text-indent: -1000px
      &:hover
        background-position: 0 -40px

  /* Main Question - toolbar */
  //======================================================================
  .toolbar
    border-top: 1px solid #e5e5e5
    ul
      +normal-radius
      li
        float: left
        display: inline
        position: relative
        &:hover
          visibility: inherit
        &:hover ul, &.sfHover ul
          right: -5px
          top: 25px
          z-index: 99
        a
          display: block
          position: relative
          padding: 5px 7px 7px 23px
          color: #aaa
          border-right: 1px solid #e5e5e5
          background: url("/images/question-toolbar-icons-small.png") 5px 5px  no-repeat
        a:hover
          color: #000
          background-color: $lightOrange !important
        a.active
          background-color: $lightBlue
          color: #000
        a.active:hover
          background-color: $lightBlue !important
        &.more
          a
            background-position: 5px -402px
          a:hover
            background-color: #e5e5e5 !important
            color: #000
        &.more:hover
          background-color: #e5e5e5 !important
        &.answer
          a
            background-position: 5px 5px
        &.comment
          a
            background-position: 5px -49px
          a:hover, a.active
            background-position: 5px -25px
        &.follow
          a.follow-q
            background-position: 6px -330px
          a.follow-q:hover
            background-position: 6px -306px
          a.unfollow-q
            background-position: 6px -378px
          a.unfollow-q:hover
            background-position: 6px -354px
        &.spam
          a
            background-position: 5px -162px
          a:hover, a.active
            background-position: 5px -138px
        &.share
          a
            background-position: 5px -219px
          a:hover, a.active
            background-position: 5px -195px
        &.activity
          a
            background-position: 5px -275px
          a:hover
            background-position: 5px -251px
        &.followUp
          a
            background-position: 5px -275px
        &.flag
          a
            background-position: 5px -275px
        &.close
          a
            background-position: 5px -275px
        &.delete
          a
            background-position: 5px -275px
        &.ban
          a
            background-position: 5px -275px
        &.open
          a
            background-position: 5px -275px
        &.edit-q
          a
            background-position: 5px -275px
        ul
          position: absolute
          top: -999em
          width: 130px
          left: -1px
          +none-radius
          li:first-child
            border-top: 1px solid #ddd
          li
            width: 100%
            border-left: 1px solid #ddd
            border-bottom: 1px solid #ddd
            background-color: #fff
            a:first-letter
              text-transform: uppercase

/* Main Question - Tags */
//========================================================================
ul.tag-list
  margin: 0 0 10px 0
  float: left
  li
    float: left
    display: inline
    margin: 0 0 7px 0
    a
      background: url("/images/tag-back-lt.png") 0 0  no-repeat
      margin: 0 0 0 8px
      font-size: 11px
      padding: 1px 5px 2px 13px
      color: #666
    a:hover
      background: url("/images/tag-back-hover.png") 0 0  no-repeat
      color: #000
    &.title
      font-weight: bolder
      font-size: 12px
      margin-top: 1px

/* Main Question - Answers*/
//========================================================================
#answers-content-wrap
  +normal-radius
  border: 1px solid #e5e5e5
  background-color: #fff
  clear: both
  display: block
  padding: 0 0 20px 0
  header
    h3
      background: url("/images/ans-icon-medium.gif") 10px 10px  no-repeat
      font-size: 18px
      padding: 11px 0 10px 40px
  section.filters
    ul
      border-top: 1px solid $blue
      background-color: $lightBlue
      border-bottom-color: #bee5e7
    ul.newest
      li.newest-active
        a
          border-color: $blue
          color: #000
          font-weight: bold
    ul.votes
      li.votes-active
        a
          border-color: $blue
          color: #000
          font-weight: bold
    ul.oldest
      li.oldest-active
        a
          border-color: $blue
          color: #000
          font-weight: bold

/* Main Question - Each Answer */
//========================================================================
article
  border-bottom: 1px solid #e5e5e5
  padding: 5px 10px 0 10px
  clear: both
  display: block
  .content
    clear: both
    float: none
    display: block
    padding: 0 10px
  .winner
    float: left
    margin-right: 10px
  p
    font-size: 12px
    line-height: 15px
    color: #888
  h4
    font-size: 12px
    background: url("/images/ans-icon-small.gif") 0 4px  no-repeat
    padding: 15px 10px 0 8px
    float: left
    margin: 0 0 10px 0
    img.gravatar
      float: left
      margin: -5px 3px 0 0
      border: 1px solid #fff
    a:hover
      border-bottom: 1px dotted
    i
      font-size: 10px
      font-style: italic
      color: #999

/* Main Question - Each comment inside of each answare */
//========================================================================
article.comment
  border-bottom: none
  padding: 20px 10px 0 50px
  h4
    background: url("/images/question-toolbar-icons-small.png") 0 -53px  no-repeat
    float: left
    padding: 3px 0 3px 20px
    a
      &:hover
  .toolbar
    margin: 0 0 0 10px !important

/* Answer Form
//========================================================================
#panel-forms
  height: 100%
  clear: both
  .jHtmlArea
    width: 100% !important 
    float: left
    .ToolBar
      width: 100% !important    
      float: left
    iframe
      min-height: 200px !important
      width: 99% !important
      background-color: #fff
      border: 1px solid #ccc
  form, .share
    display: none
    padding: 15px
    background-color: $lightBlue
    width: 96% !important
    small
      font-size: 11px
      font-style: italic
    input
      width: 90%
      border: 1px solid #ccc
      font-size: 13px
      padding: 3px 5px
      &:checkbox
      &:radio
      &.save
        +blue-gradient
        border: none
        font-size: 14px
        padding: 5px 10px
        float: right
        color: #fff
        width: auto
    label
      font-weight: bold
      font-size: 11px
      margin-top: 10px
      margin-bottom: 2px
    textarea
      height: 200px !important
      width: 99%
      font-size: 12px
      line-height: 17px
      padding: 15px
      background-color: #fff
      border: 1px solid #ccc
    .field
      float: left
      width: 50%
    .form-options
      float: left
      width: 99%
      margin-top: 10px
      padding: 8px 0 0 5px
      .option
        float: left
        margin: 5px 20px 0 0
        label
          margin-top: 3px
          margin-left: 3px
          float: right
        input
          width: 10px 
    .buttons
      float: right
      padding-top: 6px
      input.save
        margin-top: -8px
        margin-left: 5px      
        
/* Share Panel */
//========================================================================        
#share-panel
  height: 100%
  clear: both
  width: 100% !important 
  padding: 15px
  background-color: $lightBlue
  h1 
    font-size: 14px
    margin: 0
  ul
    li
      a      
        width: 24px
        height: 24px
        text-indent: -9999px
        overflow: hidden
        padding: 0
        margin-right: 7px
        border: none
  li.facebook a
    background: url("/images/share/facebook.png") 0 0 no-repeat
  li.twitter a
    background: url("/images/share/twitter.png") 0 0 no-repeat
  li.identica a
    background: url("/images/share/identi.png") 0 0 no-repeat
  li.digg a
    background: url("/images/share/digg.png") 0 0 no-repeat
  li.blogger a
    background: url("/images/share/blogger.png") 0 0 no-repeat
  li.delicious a
    background: url("/images/share/delicious.png") 0 0 no-repeat
  li.linkedin a
    background: url("/images/share/linkedin.png") 0 0 no-repeat
  li.misterwong a
    background: url("/images/share/mister-wong.png") 0 0 no-repeat
  li.stumbleupon a
    background: url("/images/share/stumbleupon.png") 0 0 no-repeat
  li.googlebuzz a
    background: url("/images/share/google-buzz.png") 0 0 no-repeat
  li.friendster a
    background: url("/images/share/frinedster.png") 0 0 no-repeat


/* Editors form output
//========================================================================
.article-actions
  float: right
  margin: 10px 5px 0 0
  ul
    li.current
    li
      float: left
      display: inline
      position: relative
      background-color: #f1f1f1
      margin: 0 0 0 3px
      &:hover
        visibility: inherit
      &:hover ul, &.sfHover ul
        left: -3px
        top: 21px
        z-index: 99
      a
        display: block
        position: relative
        padding: 4px 7px
        color: #aaa
      a:hover
        color: #000
        background-color: #ddd
        border: none
      a.active
        background-color: $lightBlue
        color: #000
      a.active:hover
        background-color: $lightBlue !important
      ul
        position: absolute
        top: -999em
        width: 130px
        left: -1px
        +none-radius
        li:first-child
          border-top: 1px solid #ddd
        li
          width: 100%
          border-left: 1px solid #ddd
          border-right: 1px solid #ddd
          border-bottom: 1px solid #ddd
          background-color: #fff
          a:first-letter
            text-transform: uppercase
    li.votes
      p
        width: 130px
        text-align: center
        padding: 3px 0 0 0
        span
        width: auto !important
        button
          height: 21px
          width: 22px
          border: none
          margin-top: -3px
          &.negative
            float: left
            margin-right: 7px
            background: url("/images/question-toolbar-icons-small.png") 5px -403px  no-repeat
            border-right: 1px solid #ddd
            &:hover
              background-color: #f00
              background-position: 5px -418px
          &.positive
            float: right
            margin-left: 7px
            background: url("/images/question-toolbar-icons-small.png") 5px -450px  no-repeat
            border-left: 1px solid #ddd
            &:hover
              background-color: #0a0
              background-position: 5px -435px

/* Comments
#panel-comments
  background-color: #f1f1f1
  clear: both
  margin: 0 0 10px 0
  form
    padding: 15px
    fieldset
    leyend
      font-size: 16px
      clear: both
      float: none
      margin: 0 0 10px 0
    textarea
      min-height: 100px
      width: 100%
      margin: 10px 0 0 0
      padding: 10px
      boder: 1px solid #ccc
    input
      +blue-gradient
      border: none
      font-size: 14px
      margin: 3px 1px 0 5px
      padding: 6px 11px
      color: #fff
      width: auto
    .cancel
      color: #c00
      &:hover
        border-bottom: 1px dotted
  .buttons
    float: right
