// ========================================================================
//    Document   	:   _user-side.sass
//    Created on 	:   Nov16 - 2010, 21:57 pm
//    Author      	:   @dgfrancisco
//    Client     		:   Shapado
//    Description	:   Estilos para las zonas de ususario y los modulos nuevos al logearce
//======================================================================== 

// Zona de ususario en la columna lateral
//========================================================================
.user-zone
  .avatar
    float: left
    a
      border: none
      img
        border: 1px solid #aaa
  .greeting
    float: right
    width: 78%
    small
      display: block
      font-size: 10px
      text-transform: italic
      color: $gray
      margin: 2px 0
    b
      font-size: 12px

  // User Nav
  //======================================================================
  nav
    ul
      margin-top: 5px
      text-align: right
      border: 1px solid $lightOrange
      padding: 10px 10% 3px 0
      background-color: #fff
      width: 86%
      li
        padding: 0
        margin-bottom: 8px
        font-size: 12px
        a       
          color: $dark
        a:hover
          border-bottom: 1px dotted $darkOrange
          color: $darkOrange
      .log-out
        a, a:hover
          font-weight: bold
          color: #c00


// Login Box
//======================================================================
.user-zone
  background-color: none
  .sf-menu 
    width: 70%
    background-color: none
    *
      background-color: none
      border: 0px
      cursor: pointer
    li
      background: none
      &.sfHover
      a.sf-with-ul
        +blue-gradient
        color: #fff
    ul
      width: 280px
      ul
        width: 280px
        left: -200px !important
        top: 45px
      &:hover ul
        left: -200px !important
        top: 45px          
      li
        width: 40px
        height: 40px
        background-color: $darkBlue
        a
          width: 40px
          height: 40px
          overflow: hidden
          text-indent: -10000px
          padding: 0
          &:hover
            background-color: $blue
        .sf-with-ul
          width: 70px
          padding: 0 0 0 10px
          line-height: 36px
          text-indent: 0
        .Google
          background: url("http://cdn1.iconfinder.com/data/icons/yooicons_set01_socialbookmarks/32/social_google_buzz_box.png") no-repeat 50% 50%
        .Twitter
          background: url("http://cdn1.iconfinder.com/data/icons/yooicons_set01_socialbookmarks/32/social_twitter_box_blue.png") no-repeat 50% 50%
        .Facebook
          background: url("http://cdn1.iconfinder.com/data/icons/yooicons_set01_socialbookmarks/32/social_facebook_box_blue.png") no-repeat 50% 50%
        .Yahoo
          background: url("http://cdn1.iconfinder.com/data/icons/yooicons_set01_socialbookmarks/32/social_yahoo_box_lilac.png") no-repeat 50% 50%
        .AOL
          background: url("http://cdn5.iconfinder.com/data/icons/vector_social_media_icons/32px/aol.png") no-repeat 50% 50%
        .MyOpenID
          background: url("http://cdn3.iconfinder.com/data/icons/socialnetworking/32/openid.png") no-repeat 50% 50%
        .Wordpress
          background: url("http://cdn1.iconfinder.com/data/icons/vector_social_media_icons/32px/wordpress-blue.png") no-repeat 50% 50%
        .Blogger
          background: url("http://cdn3.iconfinder.com/data/icons/socialnetworking/32/blogger.png") no-repeat 50% 50%
        .Flickr
          background: url("http://cdn1.iconfinder.com/data/icons/yooicons_set01_socialbookmarks/32/social_flickr_box.png") no-repeat 50% 50%
        .Launchpad 
          background: url("http://cdn5.iconfinder.com/data/icons/vector_social_media_icons/32px/button-green.png") no-repeat 50% 50%
        .Identica
          background: url("http://cdn1.iconfinder.com/data/icons/WPZOOM_Social_Networking_Icon_Set/32/identica.png") no-repeat 50% 50%  
        .Github
          background: url("http://cdn5.iconfinder.com/data/icons/vector_social_media_icons/32px/button-white.png") no-repeat 50% 50%  
        .LinkedIn
          background: url("http://cdn1.iconfinder.com/data/icons/yooicons_set01_socialbookmarks/32/social_linkedin_box_blue.png") no-repeat 50% 50%  
        .Vidoop
          background: url("http://cdn5.iconfinder.com/data/icons/vector_social_media_icons/32px/button-orange.png") no-repeat 50% 50%          
        .ClaimID
          background: url("http://cdn5.iconfinder.com/data/icons/vector_social_media_icons/32px/button-green.png") no-repeat 50% 50%                  
        .Technorati
          background: url("http://cdn1.iconfinder.com/data/icons/yooicons_set01_socialbookmarks/32/social_technorati_box_green.png") no-repeat 50% 50%                                  
        .Verisign
          background: url("http://cdn5.iconfinder.com/data/icons/vector_social_media_icons/32px/button-yellow.png") no-repeat 50% 50%
        .LiveJournal
          background: url("http://cdn4.iconfinder.com/data/icons/socialmediabookmark/32/livejournal.png") no-repeat 50% 50%        
        .MySpace
          background: url("http://cdn5.iconfinder.com/data/icons/vector_social_media_icons/32px/myspace.png") no-repeat 50% 50%        
        .OpenId
          background: url("http://cdn1.iconfinder.com/data/icons/WPZOOM_Social_Networking_Icon_Set/32/openid.png") no-repeat 50% 50%        
          
        
// Profile page
//======================================================================
.userData
  float: left !important
  width: 25% !important
  background-color: #fafafa
  padding: 0 0 10px 0
  h3
    font-size: 14px
    font-weight: bold
    border-bottom: 1px dotted #ccc
    margin: 0 10px 10px 10px
    padding: 0 10px 5px 10px  
  .avatar
    padding: 10px
    background-color: #fff
    border: 1px solid #e5e5e5
    +normal-radius
    margin: 10px
    img
      margin: 0 auto
    p
      font-size: 11px
      line-height: 13px
      margin-top: 10px
      a
        color: #999
        &:hover
          color: #000
  ul.badges      
    margin: 0 10px 0 0
    text-align: right

.userHistory
  float: right !important
  width: 74.8% !important
  border-left: 1px solid #e5e5e5
  height: 2000px
  .userDescription
    padding: 20px 20px 10px 20px
    border-bottom: 1px solid #f1f1f1
    small
      font-size: 11px
      font-style: italic
      color: #999
      margin: 0 0 3px 0
    .basicInfo  
      width: 67%
      float: left
    h2
      font-size: 30px
      font-weight: bold
    p
      font-size: 11px
      line-height: 11px
      a:hover
        border-bottom: 1px dotted
    .description
      padding: 8px 0
      border-bottom: 1px solid #fafafa
      margin: 0 0 5px 0
      p
        font-size: 13px
      
  ul.profile-stats
    margin-bottom: 20px
    float: right
    width: 30%
    border: 1px solid #f1f1f1 
    li
      border-bottom: 1px dotted #e5e5e5 
      padding: 5px
      background-color: #fff
      text-align: center
      float: left
      width: 42%
      small
        font-size: 10px
        display: block 
      strong
        font-size: 20px
        font-weight: bold 
        display: block
    li.follow
      border: none
      +orange-gradient
      color: #fff
      width: 93%
      a
        color: #fff
    img
      margin: 0 auto
    p 
      margin-top: 10px  
  