// ========================================================================
//    Document   	:   _user-side.sass
//    Created on 	:   Nov16 - 2010, 21:57 pm
//    Author      	:   @dgfrancisco
//    Client     		:   Shapado
//    Description	:   Estilos para las zonas de ususario y los modulos nuevos al logearce
//======================================================================== 

// Zona de ususario en la columna lateral
//========================================================================
.user-zone
  padding-bottom: 5px
  .avatar
    float: left
    a
      border: none
      img
        border: 1px solid #aaa
  .greeting
    float: right
    width: 78%
    small
      display: block
      font-size: 10px
      text-transform: italic
      color: $gray
      margin: 2px 0
    b
      font-size: 12px

  // User Nav
  //======================================================================
  nav
    ul
      margin-top: 5px
      text-align: right
      border: 1px solid $lightOrange
      padding: 10px 10% 3px 0
      background-color: #fff
      width: 86%
      li
        padding: 0
        margin-bottom: 8px
        font-size: 12px
        a       
          color: $dark
        a:hover
          border-bottom: 1px dotted $darkOrange
          color: $darkOrange
      .log-out
        a, a:hover
          font-weight: bold
          color: #c00


// Login Box
//======================================================================
ul.sf-menu
  width: 100%
  list-style: none
  margin: -6px 0
  
  li:first-child
    margin-right: 8px
  li:last-child  
    border-right: 1px dotted $blue
    a
      padding-left: 10px !important
  li
    background: transparent
    float: right
    margin: 0
    text-align: center
    position: relative
    &:hover
      visibility: inherit    
    &:hover ul, &.sfHover ul  
      left: 0
      top: 27px
      z-index: 99
      background: none
      background-color: $darkBlue
      padding: 0
      margin: 0
      +none-radius
      width: 250px
    &:hover li ul, &.sfHover li ul
      top: 0
    a
      color: #000
      padding: 7px 10px
      display: block
      border: 0px
      cursor: pointer
      position: relative
      line-height: 14px
      &:focus, &:hover, &:active
        outline: 0
      &:hover
        +blue-gradient
        color: #fff  
      &.sf-with-ul
        padding-right: 30px
        min-width: 1px
        
  li.sfHover .sf-with-ul
    +blue-gradient   
    color: #fff
    
  //drop Menu
  ul
    position: absolute
    top: -999em
    li
      margin: 0 !important
      float: left
      &:hover ul, &.sfHover ul
        left: -190px
        top: 29px
      &:hover li ul, &.sfHover li ul  
        top: -999em
      a
        background: url("http://cdn1.iconfinder.com/data/icons/yooicons_set01_socialbookmarks/24/social_google_buzz_box.png") no-repeat 50% 50% !important
        width: 18px
        height: 15px
        overflow: hidden !important
        text-indent: -10000px
      .Google, .Google:hover
        background: url("http://cdn1.iconfinder.com/data/icons/yooicons_set01_socialbookmarks/24/social_google_buzz_box.png") no-repeat 50% 50% !important
      .Twitter, .Twitter:hover
        background: url("http://cdn1.iconfinder.com/data/icons/yooicons_set01_socialbookmarks/24/social_twitter_box_blue.png") no-repeat 50% 50% !important
      .Facebook, .Facebook:hover
        background: url("http://cdn1.iconfinder.com/data/icons/yooicons_set01_socialbookmarks/24/social_facebook_box_blue.png") no-repeat 50% 50%!important
      .Yahoo, .Yahoo:hover
        background: url("http://cdn1.iconfinder.com/data/icons/yooicons_set01_socialbookmarks/24/social_yahoo_box_lilac.png") no-repeat 50% 50%!important
      .AOL, .AOL:hover 
        background: url("http://cdn1.iconfinder.com/data/icons/WPZOOM_Social_Networking_Icon_Set/24/aol.png") no-repeat 50% 50%!important
      .MyOpenID, .MyOpenID:hover
        background: url("http://cdn3.iconfinder.com/data/icons/socialnetworking/24/openid.png") no-repeat 50% 50%!important
      .Wordpress, .Wordpress:hover
        background: url("http://cdn1.iconfinder.com/data/icons/vector_social_media_icons/24px/wordpress-blue.png") no-repeat 50% 50%!important
      .Blogger, .Blogger:hover
        background: url("http://cdn3.iconfinder.com/data/icons/socialnetworking/24/blogger.png") no-repeat 50% 50%!important
      .Flickr, .Flickr:hover
        background: url("http://cdn1.iconfinder.com/data/icons/yooicons_set01_socialbookmarks/24/social_flickr_box.png") no-repeat 50% 50%!important
      .Launchpad, .Launchpad:hover 
        background: url("http://cdn5.iconfinder.com/data/icons/vector_social_media_icons/24px/button-green.png") no-repeat 50% 50%!important
      .Identica, .Identica:hover
        background: url("http://cdn1.iconfinder.com/data/icons/WPZOOM_Social_Networking_Icon_Set/24/identica.png") no-repeat 50% 50%  !important
      .Github, .Github:hover
        background: url("http://cdn5.iconfinder.com/data/icons/vector_social_media_icons/24px/button-white.png") no-repeat 50% 50%  !important
      .LinkedIn, .LinkedIn:hover
        background: url("http://cdn1.iconfinder.com/data/icons/yooicons_set01_socialbookmarks/24/social_linkedin_box_blue.png") no-repeat 50% 50%  !important
      .Vidoop, .Vidoop:hover
        background: url("http://cdn5.iconfinder.com/data/icons/vector_social_media_icons/24px/button-orange.png") no-repeat 50% 50% !important
      .ClaimID, .ClaimID:hover
        background: url("http://cdn5.iconfinder.com/data/icons/vector_social_media_icons/24px/button-green.png") no-repeat 50% 50% !important                 
      .Technorati, .Technorati:hover
        background: url("http://cdn1.iconfinder.com/data/icons/yooicons_set01_socialbookmarks/24/social_technorati_box_green.png") no-repeat 50% 50% !important                                 
      .Verisign, .Verisign:hover
        background: url("http://cdn5.iconfinder.com/data/icons/vector_social_media_icons/24px/button-yellow.png") no-repeat 50% 50% !important
      .LiveJournal, .LiveJournal:hover
        background: url("http://cdn4.iconfinder.com/data/icons/socialmediabookmark/24/livejournal.png") no-repeat 50% 50% !important       
      .MySpace, .MySpace:hover
        background: url("http://cdn5.iconfinder.com/data/icons/vector_social_media_icons/24px/myspace.png") no-repeat 50% 50% !important       
      .OpenId, .OpenId:hover
        background: url("http://cdn1.iconfinder.com/data/icons/WPZOOM_Social_Networking_Icon_Set/24/openid.png") no-repeat 50% 50% !important       
      &:hover
        background-color: $blue !important
// Menu Trigger    
.sf-sub-indicator
  position: absolute
  display: block
  right: 10px
  top: 8px
  width: 10px
  height: 10px
  text-indent: -999em
  overflow: hidden
  background: url('/images/superfish/arrows-ffffff.png') no-repeat 0 -100px
a
  > .sf-sub-indicator
    background-position: 0 -100px
  &:focus > .sf-sub-indicator, &:hover > .sf-sub-indicator, &:active > .sf-sub-indicator
    background-position: -10px -100px
li
  &:hover > a > .sf-sub-indicator, &.sfHover > a > .sf-sub-indicator
    background-position: -10px -100px
.sf-menu ul
  .sf-sub-indicator
    background-position: -10px 0
  a
    > .sf-sub-indicator
      background-position: 0 0
    &:focus > .sf-sub-indicator, &:hover > .sf-sub-indicator, &:active > .sf-sub-indicator
      background-position: -10px 0
  li
    &:hover > a > .sf-sub-indicator, &.sfHover > a > .sf-sub-indicator
      background-position: -10px 0

//Menu 3th lavel
ul li ul li a.sf-with-ul
  text-indent: 0 !important
  min-width: 1px
  .sf-sub-indicator
    display: none

//==================================================
.userData
  float: left !important
  width: 25% !important
  background-color: #fafafa
  padding: 0 0 10px 0
  h3
    font-size: 14px
    font-weight: bold
    border-bottom: 1px dotted #ccc
    margin: 0 10px 10px 10px
    padding: 0 10px 5px 10px  
  .avatar
    padding: 10px
    background-color: #fff
    border: 1px solid #e5e5e5
    +normal-radius
    margin: 10px
    img
      margin: 0 auto
    p
      font-size: 11px
      line-height: 13px
      margin-top: 10px
      a
        color: #999
        &:hover
          color: #000
  ul.badges      
    margin: 0 10px 0 0
    text-align: right

.userHistory
  float: right !important
  width: 74.8% !important
  border-left: 1px solid #e5e5e5
  height: 2000px
  .userDescription
    padding: 20px 20px 10px 20px
    border-bottom: 1px solid #f1f1f1
    small
      font-size: 11px
      font-style: italic
      color: #999
      margin: 0 0 3px 0
    .basicInfo  
      width: 67%
      float: left
    h2
      font-size: 30px
      font-weight: bold
    p
      font-size: 11px
      line-height: 11px
      a:hover
        border-bottom: 1px dotted
    .description
      padding: 8px 0
      border-bottom: 1px solid #fafafa
      margin: 0 0 5px 0
      p
        font-size: 13px
      
  ul.profile-stats
    margin-bottom: 20px
    float: right
    width: 30%
    border: 1px solid #f1f1f1 
    li
      border-bottom: 1px dotted #e5e5e5 
      padding: 5px
      background-color: #fff
      text-align: center
      float: left
      width: 42%
      small
        font-size: 10px
        display: block 
      strong
        font-size: 20px
        font-weight: bold 
        display: block
    li.follow
      border: none
      +orange-gradient
      color: #fff
      width: 93%
      a
        color: #fff
    img
      margin: 0 auto
    p 
      margin-top: 10px  
  