%small
  %h2
    =t(".description")

%ol.manage-domain
  %li=raw t(".instruction1", :subdomain => @group.domain)
  %li=raw t(".instruction2")
  %li=raw t(".instruction3")
  %li=raw t(".instruction4", :domain=> "#{@group.subdomain}.#{AppConfig.domain}")
  %li=raw t(".instruction5", :appdomain => AppConfig.domain, :subdomain => @group.domain)
  %li=raw t(".instruction6", :subdomain => @group.domain, :chat_url => link_to("chat", chat_path))

.field.center
  =request.protocol
  = f.text_field :domain, :class=> "text_field", :style => "width: 20%"

.buttons
  = f.submit t('scaffold.update')