/* Main Question - Answers*/
//========================================================================
#answers-content-wrap
  +normal-radius
  border: 1px solid #e5e5e5
  background-color: #fff
  clear: both
  display: block
  padding: 0 0 20px 0
  min-height: 1000px

  header
    h3
      background: url("/images/ans-icon-medium.gif") 10px 10px  no-repeat
      font-size: 18px
      padding: 11px 0 10px 40px

  section.filters
    ul
      border-top: 1px solid $blue
      border-bottom-color: #bee5e7

    ul.newest
      li.newest-active
        a
          border-bottom: 2px solid $blue
          color: #000
          font-weight: bold
    ul.votes
      li.votes-active
        a
          border-bottom: 2px solid $blue
          color: #000
          font-weight: bold
    ul.oldest
      li.oldest-active
        a
          border-bottom: 2px solid $blue
          color: #000
          font-weight: bold

/* Main Question - Each Answer */
//========================================================================
.answer
  padding-left: 0px
  float: left
  position: relative
  
.answer_vote_box
  overflow: hidden
  background-color: #f1f1f1
  width: 27px
  position: absolute
  left: 17px
  top: 25px  
  li 
    float: left
  form
    margin: 0
    width: auto
  .votes_average
    text-align: center
    width: auto
    background-color: #F1F1F1
    margin: 0
    padding: 3px 10px
  button
    height: 27px
    width: 27px
    border: none
    &.negative
      background: #F1F1F1 url("/images/question-toolbar-icons-small.png") 6px -401px  no-repeat
      &:hover
        background-color: #f00
    &.positive
      background: #F1F1F1 url("/images/question-toolbar-icons-small.png") 6px -448px  no-repeat
      &:hover
        background-color: #0a0
        
article
  border-bottom: 1px solid #e5e5e5
  padding: 20px 20px 20px 50px !important
  .content
    clear: both
    float: none
    display: block
    padding: 0 10px
  .winner
    float: left
    margin-right: 10px
  p
    font-size: 14px
    line-height: 15px
    color: #333333
  h4
    font-size: 12px
    padding: 10px 10px 0 8px
    float: left
    margin: 0 0 10px 0
    img.gravatar
      float: left
      margin: -5px 3px 0 0
      border: 1px solid #fff
    a:hover
      border-bottom: 1px dotted
    i
      font-size: 10px
      font-style: italic
      color: #999
  .thumb
    width: 190px
    height: 140px
    position: relative
    float: left
    margin: 0 10px 10px 0
    img.video_thumbnail
      width: 100%
      height: 100%
      cursor: pointer
    img.play_button
      border: none
      width: 38px
      height: 33px
      position: absolute
      bottom: 5px
      right: 5px
      cursor: pointer
  .answer-avatar
    float: right
    margin-right: 50px


/* Editors form output */
//========================================================================
.article-actions
  margin-top: 20px
  margin-left: 10px
  ul
    li
      float: left
      display: inline
      a
        display: block
        position: relative
        padding: 7px 14px
        color: #999
        border-right: 1px solid #f1f1f1
        cursor: pointer
          
        &:hover
          color: #fff
          +orange-gradient


/* Closed reasons */
//========================================================================
#close_reason
  display: block
  clear: both
  text-align: center
  font-size: 14px
  font-weight: bold
  padding: 10px 0 !important
  margin-bottom: 10px
  text-shadow: $text-shadow
  color: #fff
  +error-gradient

