/* Main Question - Each comment inside of each answare */
//========================================================================
.comments
  padding: 0 0 20px 0
  article.comment
    padding: 7px 0 7px 25px !important
    background: url("/images/comments-icon.gif") 0 7px no-repeat
    border: 0px !important
    p
      display: block
      font-size: 12px
      line-height: 15px
      float: none
      width: 100%
      margin: 0 0 5px 0 !important
      color: #888 !important
    h4
      display: block !important
      width: 100% !important
      margin: 0 0 5px 0!important
      padding: 0 !important
    .actions a
      color: #c00
      font-size: 11px
      &:hover
        border-bottom: 1px dotted
      
/* Comments inside Main Question top */
//========================================================================
.main-question .comments 
  padding: 0 0 20px 45px
  
// Form for edit comments
//========================================================================
.main-question form.edit_comment_form
  width: 87% !important
form.edit_comment_form
  width: 94%
  margin: 10px 0 0 0 !important
  padding: 20px
  textarea
    border: 1px solid #ccc  !important
    font-size: 13px !important
    line-height: 18px
    padding: 5px !important
    height: 100px !important
    width: 98.5%
  .buttons input
    border: 0px
    padding: 5px 10px

// Form for New comments
//========================================================================
form#new_comment
  width: 89% !important
  margin: 0 20px 20px 20px !important
  padding: 20px 20px 0 20px !important
  display: block
  float: none  
  textarea
    border: 1px solid #cccccc !important
    font-size: 13px !important
    line-height: 18px
    padding: 5px !important
    height: 100px !important
    width: 98.5% !important
    margin: 0 !important