/* Main Question - Each comment inside of each answare */
//========================================================================
.comments  
  margin: 30px 0 20px 0
  article.comment
    background: url("/images/comments-icon-small.gif") 20px 5px no-repeat !important
    padding: 5px 10px 5px 40px !important
    border: 0px !important
    img
      float: left
      margin: 0 5px 5px 0
    .comment-body
    comment-content, .markdown
      display: inline
    .comment-votes
      form
        display: inline
        button
          border: 0px
          padding: 2px
    time
      font-size: 11px
      font-style: italic
      float: left
      color: #999
      margin: 5px 5px 0 0
    p
      display: inline
      font-size: 12px
      line-height: 15px
      color: #888
    .actions 
      margin: 3px 0 0 0
      a
        color: #c00
        font-size: 11px
        &:hover
          border-bottom: 1px dotted

// Form for edit comments
//========================================================================
.main-question form.edit_comment_form
  width: 87% !important
form.edit_comment_form
  width: 94%
  margin: 10px 0 0 0 !important
  padding: 20px
  textarea
    border: 1px solid #ccc  !important
    font-size: 13px !important
    line-height: 18px
    padding: 5px !important
    height: 100px !important
    width: 98.5%
  .buttons input
    border: 0px
    padding: 5px 10px
          