// ========================================================================
//    Document    :   _question.sass
//    Created on  :   Nov14 - 2010, 20:29 pm
//    Author      :   @dgfrancisco
//    Client      :   Shapado
//    Description :   Estilos para los despliegues de las preguntas
//========================================================================
.question
  #main-content-wrap
    border: none
    background: transparent

section#question span
  font-weight: bold
  .description span
    font-weight: normal

#main-content-warp section.main-question
  +normal-radius
  background-image: url("/images/q-icon-medium.gif") 15px 15px  no-repeat
  margin-bottom: 15px
  position: relative
  .author
    margin: 15px 0 10px 20px !important
    p
      color: #999
  h1
    font-size: 28px
    line-height: 32px
    font-weight: bold
    margin: 0 20px !important
    padding: 0
    letter-spacing: -0.5px
    border: 0px
    &:first-letter
      text-transform: uppercase

    &.version
      font-size: 18px
      line-height: 20 px
      margin: 10px 20px 10px 50px
    br
      margin-bottom: 10px
    small
      a
        font-size: 12px
        font-style: italic !important
        &:hover
          border-bottom: 1px dotted

    small.version
      font-size: 15px
      font-style: italic !important

    small.current
      font-weight: bold

    small.verion-nav
      float: right
      font-size: 12px
      a
        margin: 0 3px
        &:hover
          border-bottom: 1px dotted

  .description
    margin: 0 20px 15px 20px !important
    p
      font-size: 13px
      line-height: 16px
      margin: 0 !important
      padding: 0 !important
      border: 0px !important
      math
        margin-bottom: 20px

    img
      max-width: 700px

    .thumb
      min-width: 130px
      min-height: 95px
      padding: 10px
      .video_thumbnail
        margin: 0 auto
        cursor: pointer
      .play_button
        border: none
        margin: -80px auto 0 auto
        cursor: pointer

    #attachments_list
      margin: 10px 0 10px 10px
      .header
        font-weight: bold
        margin-bottom: 5px
      li
        list-style: disc
        list-style-position: inside
        margin: 3px 10px
        a:hover
          border-bottom: 1px dotted

  .stats
    margin: 0 20px -15px 10px
    p
      font-size: 10px
      margin: 0 0 10px 0 !important
      font-style: italic
      padding: 0 !important
      border: 0px !important
      strong
        font-weight: bold
        margin: 0 0 0 10px
        font-style: italic


.close-reasons-list
  h2
    border-bottom: 1px solid #e5e5e5
    padding: 20px
    a
      font-size: 25px
      font-weight: bold
      color: #000
  .table
    margin: 0 0 20px 0
    th
      background-color: #404040
      color: #fff
      padding: 10px
      border-right: 1px solid #666
      text-align: center
    td
      padding: 10px
      border: 1px solid #e5e5e5