!!! Mobile

%html{"xml:lang" => I18n.locale, :lang => I18n.locale, :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      &= page_title

    %link{:rel=>"stylesheet", :href=>"/stylesheets/jm/jquery.mobile.css"}
    = javascript_include_merged(:mobile).html_safe
    %script{:src=>"/javascripts/jquery.mobile.js", :type => "text/javascript"}

    =stylesheet_link_merged(:mobile).html_safe

    = csrf_meta_tag
  %body
    =yield
