%h1
  Members
%p.description
.members
  -if logged_in? && current_user.owner_of?(@group)
    #manage_members
      -form_tag(members_path, :class => "form members-form", :method => :post) do
        =render :partial => "form"
        .buttons
          = submit_tag t('scaffold.add', :model => "member"), :class => "save"

  -@members.each do |member|
    = render :partial => "member", :object => member

=will_paginate @members
